<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PdfManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PdfManageModelContainer" connectionString="metadata=res://*/Data.PdfManageModel.csdl|res://*/Data.PdfManageModel.ssdl|res://*/Data.PdfManageModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Data\PdfDatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <!--去除下列注释以开启错误记录-->
    <!--<assert assertuienabled="false" logfilename="app.log"/>-->
  </system.diagnostics>
  <userSettings>
    <PdfManager.Properties.Settings>
      <setting name="DefaultUsername" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="SettingDefaultPassword" serializeAs="String">
        <value>admin123</value>
      </setting>
      <setting name="StoreDirectory" serializeAs="String">
        <value>store</value>
      </setting>
      <setting name="Other1Name" serializeAs="String">
        <value>其他1</value>
      </setting>
      <setting name="Other2Name" serializeAs="String">
        <value>其他2</value>
      </setting>
      <setting name="SaveLog" serializeAs="String">
        <value>False</value>
      </setting>
    </PdfManager.Properties.Settings>
  </userSettings>
</configuration>